{%extends 'base.html'%}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}
{%block content%}
<body class='body'>
  {%for blog in blogs%}
<div class="row">
  <div class="col-md-4 blog">
  <h1 class="title">{{blog.title}}</hi>
    <p>{{blog.blog}}</p>
    <button><a href="{{url_for('main.comment')}}">comment</a></button><button><i class="fa fa-thumbs-up"></i></button><button><i class="fa fa-thumbs-down"></i></button>
    </div>
</div>
    {%endfor%}

</body>
<style>
.body{
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/86/57/8357cfa9a9ab9c4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.title{
  text-align: center;
}
.blog{
  background-color: bisque;
  color: black;
  margin-right: 50px;
}
</style>
{%endblock%}
